<main>
    <div class="bottom-data">
      <div class="orders">
        <div class="header">
          <i class='bx bx-receipt'></i>
          <h3>View Paiements</h3>
          <i class='bx bx-filter'></i>
          <i class='bx bx-search'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>DatePaiement</th>
              <th>Montant</th>
              <th>Client</th>

            </tr>
          </thead>
          <tbody>
            <!-- Use Angular *ngFor to loop through the data -->
            <tr *ngFor="let element of dataSource.data">
              <td>
                {{ element.datePaiement }}
              </td>
              <td>{{ element.montant }}$</td>
              <td>{{ element.userEmail }}</td>
              
            </tr>
            <!-- End of Angular loop -->
            
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <script src="../../assets/index.js"></script>
  