<main>
    <div class="bottom-data">
      <div class="orders">
        <div class="header">
          <i class='bx bx-receipt'></i>
          <h3>Manage Recharges</h3>
          <!-- <i class='bx bx-filter'></i>
          <i class='bx bx-search'></i> -->
          <a (click)="handleAddAction()"> <i class='bx bx-plus'></i> </a>
        </div>
        <table>
          <thead>
            <tr>
              <th>TypeCharge</th>
              <th>QuantiteEnergie</th>
              <th>DateHeureRecharge</th>
              <th>DureeRecharge</th>
            </tr>
          </thead>
          <tbody>
            <!-- Use Angular *ngFor to loop through the data -->
            <tr *ngFor="let element of dataSource.data">
              <td>
                <p>{{ element.typeCharge }}</p>
              </td>
              <td>{{ element.quantiteEnergie }}</td>
              
              <td>{{ element.dateHeureRecharge }}</td>
              <td>{{ element.dureeRecharge }}</td>
              
              
              
            </tr>
            <!-- End of Angular loop -->
            
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <script src="../../assets/index.js"></script>
  