<body>
    
    <main>
        <div class="header">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb" style="background-color: #25252C;">
                    <li><a href="#">
                            Analytics 
                        </a></li>
                        <li>/</li>
                    <li><a href="#" class="active">System</a></li>
                </ul>
            </div>
            <!-- <a href="#" class="report">
                <i style="color: white;" class='bx bx-cloud-download'></i>
                <span style="color: white;">Download CSV</span>
            </a> -->
        </div>

        <!-- Insights -->
        <ul class="insights">
            <li>
                <i class='bx bx-calendar-check'></i>
                <span class="info">
                    <h3>
                        {{data?.Paiement}}
                    </h3>
                    <p>Paiements Effectués</p>
                </span>
            </li>
            <li><i class='bx bx-show-alt'></i>
                <span class="info">
                    <h3>
                        {{data?.Abonnement}}
                    </h3>
                    <p>Abonnements Plans</p>
                </span>
            </li>
            <li><i class='bx bx-line-chart'></i>
                <span class="info">
                    <h3>
                        {{data?.BorneRecharge}}
                    </h3>
                    <p>Bornes de Recharge</p>
                </span>
            </li>
            <li><i class='bx bx-dollar-circle'></i>
                <span class="info">
                    <h3>
                        {{data?.Facture}}
                    </h3>
                    <p>Totale Factures</p>
                </span>
            </li>
        </ul>
        <!-- End of Insights -->

        <div class="bottom-data">
            <div class="orders">
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>Contrats Recents</h3>
                    <i class='bx bx-filter'></i>
                    <i class='bx bx-search'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Plan</th>
                            <th>FraisMois</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of dataSource.data">
                            
                            
                            <td>{{ element.userEmail }}</td>
                            <td>{{element.abonnementPlanType}}</td>
                            <td>{{element.fraisMois}}</td>
                          </tr>
                    </tbody>
                </table>
            </div>

            <!-- Reminders -->
            <div class="reminders">
                <div class="header">
                    <i class='bx bx-note'></i>
                    <h3>Abonnements</h3>
                    <a (click)="handleAddAction()"> <i class='bx bx-plus'></i> </a>

                </div>
                <ul class="task-list" *ngFor="let element of dataSource1.data">
                    <li class="completed">
                        <div class="task-title">
                            <!-- <i class='bx bx-check-circle'></i> -->
                            <p>{{element.type}}</p>
                        </div>
                        <div class="task-title">
                            <!-- <i class='bx bx-check-circle'></i> -->
                            <p>{{element.fraismois}}$</p>
                        </div>
                        <div>
                            <p><button class="btn btn-primary" style="padding: 3px;" (click)="handleEditAction(element)"> Edit </button>
                                <button class="btn btn-danger" style="margin-left: 5px; padding: 3px;" (click)="handleDeleteAction(element)"> Delete </button></p>
                        </div>
                    </li>
                    <!-- <li class="completed">
                        <div class="task-title">
                            <i class='bx bx-check-circle'></i>
                            <p>Analyse Our Site</p>
                        </div>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="not-completed">
                        <div class="task-title">
                            <i class='bx bx-x-circle'></i>
                            <p>Play Footbal</p>
                        </div>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li> -->
                </ul>
            </div>

            <!-- End of Reminders-->

        </div>
        <div class="bottom-data">
            <div class="orders">
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>Users</h3>
                    <a (click)="handleAddUserAction()"> <i class='bx bx-plus'></i> </a>
                </div>
                <table>
                    <thead>
                      <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Adresse</th>
                        <th>Inscription</th>
                        <th>Voiture</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Use Angular *ngFor to loop through the data -->
                      <tr *ngFor="let element of dataSource2.data">
                        <td>
                          <p>{{ element.name }}</p>
                        </td>
                        <td>{{ element.email }}</td>
                        <td>
                          <span [ngClass]="element.role === 'admin' ? 'status process' : 'status completed'" style="color: white;">
                              {{ element.role }}
                           </span>
                        </td>
                        <td>{{ element.adresse }}</td>
                        <td>{{ element.dateInscription }}</td>
                        <td>{{ element.modeleVoiture }}</td>
                        <td class="action-link">
                          <button class="btn btn-primary" style="padding: 3px;" (click)="handleEditUserAction(element)"> Edit </button>
                          <button class="btn btn-danger" style="margin-left: 5px; padding: 3px;" (click)="handleDeleteUserAction(element)"> Delete </button>
                          
                        </td>
                        
                        
                      </tr>
                      <!-- End of Angular loop -->
                      
                    </tbody>
                  </table>
            </div>
        </div>
        

    </main>
    <script src="../../assets/index.js"></script>
</body>