<mat-toolbar style="background-color: #2D8ED1;">
    <mat-toolbar-row fxLayout="row">
        <span style="color: white;">{{ dialogData.action }} Borne</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close style="color: white;"><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="borneForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>typecharge</mat-label>
                    <input matInput formControlName="typecharge" required>
                    <mat-error *ngIf="borneForm.controls.typecharge.touched && borneForm.controls.typecharge.invalid">
                        <span *ngIf="borneForm.controls.typecharge.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>latitude</mat-label>
                    <input matInput formControlName="latitude" required>
                    <mat-error *ngIf="borneForm.controls.latitude.touched && borneForm.controls.latitude.invalid">
                        <span *ngIf="borneForm.controls.latitude.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>longitude</mat-label>
                    <input matInput formControlName="longitude" required>
                    <mat-error *ngIf="borneForm.controls.longitude.touched && borneForm.controls.longitude.invalid">
                        <span *ngIf="borneForm.controls.longitude.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>disponible</mat-label>
                    <input matInput formControlName="disponible" required>
                    <mat-error *ngIf="borneForm.controls.disponible.touched && borneForm.controls.disponible.invalid">
                        <span *ngIf="borneForm.controls.disponible.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(borneForm.valid && borneForm.dirty)" style="background-color: #2D8ED1; color: white;">
        <mat-icon>save</mat-icon> {{ action }}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions>
