<mat-toolbar style="background-color: #2D8ED1;">
    <mat-toolbar-row fxLayout="row">
        <span style="color: white;">{{ dialogData.action }} Recharge</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close style="color: white;"><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="rechargeForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>quantiteEnergie</mat-label>
                    <input matInput formControlName="quantiteEnergie" required>
                    <mat-error *ngIf="rechargeForm.controls.quantiteEnergie.touched && rechargeForm.controls.quantiteEnergie.invalid">
                        <span *ngIf="rechargeForm.controls.quantiteEnergie.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>typeCharge</mat-label>
                    <input matInput formControlName="typeCharge" required>
                    <mat-error *ngIf="rechargeForm.controls.typeCharge.touched && rechargeForm.controls.typeCharge.invalid">
                        <span *ngIf="rechargeForm.controls.typeCharge.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>DureeRecharge</mat-label>
                    <input matInput formControlName="DureeRecharge" required>
                    <mat-error *ngIf="rechargeForm.controls.DureeRecharge.touched && rechargeForm.controls.DureeRecharge.invalid">
                        <span *ngIf="rechargeForm.controls.DureeRecharge.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(rechargeForm.valid && rechargeForm.dirty)" style="background-color: #2D8ED1; color: white;">
        <mat-icon>save</mat-icon> {{ action }}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions>
