<main>
    <div class="bottom-data">
      <div class="orders">
        <div class="header">
          <i class='bx bx-receipt'></i>
          <h3>Manage Voitures</h3>
          <!-- <i class='bx bx-filter'></i>
          <i class='bx bx-search'></i> -->
          <a (click)="handleAddAction()"> <i class='bx bx-plus'></i> </a>

        </div>
        <table>
          <thead>
            <tr>
              <th>Modele</th>
              <th>DateAjoutVoiture</th>
              <th>Actions</th>

            </tr>
          </thead>
          <tbody>
            <!-- Use Angular *ngFor to loop through the data -->
            <tr *ngFor="let element of dataSource.data">
              <td>
                <p>{{ element.modele }}</p>
              </td>
              <td>{{ element.dateAjoutVoiture }}</td>
              
              <td class="action-link">
                <button class="btn btn-primary" style="padding: 3px;" (click)="handleEditAction(element)"> Edit </button>
                <button class="btn btn-danger" style="margin-left: 5px; padding: 3px;" (click)="handleDeleteAction(element)"> Delete </button>
                
              </td>
              
              
            </tr>
            <!-- End of Angular loop -->
            
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <script src="../../assets/index.js"></script>
  