<!-- <div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Operations in Cafe System
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">Login</a>
        <a (click)="handleSignupAction()">SignUp</a>
        <a (click)="handleForgotPasswordAction()">Forgot Password</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved</h2>
</div> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top header" id="myHeader">
  <div class="container">
      
    <a class="navbar-brand" href="#" id="logo-link"><img src="assets/assets1/images/logo.png" id="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" id="nav-toggler">
          <span class="navbar-toggler-icon" id="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link top-link active" href="./index.html">Home<span
                          class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link top-link active" href="./about.html">About
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link top-link active" (click)="handleSignupAction()">Sign Up</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link top-link active" (click)="handleForgotPasswordAction()" >Forgot Password</a>
              </li>
          </ul>
          <a class="nav-link top-link" (click)="handleLoginAction()"><button class="btn top-btn">Login</button></a>
      </div>
  </div>
</nav> -->
<!-- Hero Section -->
<section id="homepage">
  <nav id="nav-bar">
    <ul id="nav-list">
      <li>
        <div class="logo">
          <img
            src="https://th.bing.com/th/id/R.d256a2cc29b45027709d0b06571cb02f?rik=Own52tNIfWIftQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2faudi-logo-png-audi-car-logo-png-brand-image-1470.png&ehk=xAYAJ1m3E%2fHGsX6VD2jLgTaNWG2ohf%2bPLrbkiXs80ow%3d&risl=&pid=ImgRaw&r=0"
            alt=""
          />
        </div>
      </li>
      <li class="list-item"><a>Home</a></li>
      <li class="list-item"><a (click)="handleSignupAction()">Sign Up</a></li>
      <li class="list-item"><a (click)="handleLoginAction()">Login</a></li>
      <li class="list-item"><a (click)="handleForgotPasswordAction()">Forgot Password</a></li>
      
      <!-- <li class="list-item-icon"><i class="ri-search-line"></i></li> -->
    </ul>
  </nav>
  <div id="homepage-quotes-area">
    <h1 id="homepage-quotes-heading">don't forget to breathe</h1>
    <p id="homepage-quotes-desc">
      Jon Olsson's Audi RS6 Avant . This Audi has stunning exterior design
      which is wrapped in white , black and gray camouflage
    </p>
  </div>
  <div id="overlay-bottom"></div>
</section>


<!-- performance info design-->

<section id="performance-info">
  <img
    id="performance-info-img"
    src="https://c4.wallpaperflare.com/wallpaper/505/786/536/car-engine-audi-rs6-wallpaper-preview.jpg"
    alt=""
    srcset=""
  />
  <div id="performance-info-text">
    <h1 id="performance-info-text-heading">
      <span>i</span>ntelligently optimized performance
    </h1>
    <p id="performance-info-text-des">
      The RS 6 Avant's 4.0-liter V8 TFSI engine is dynamic , high torque
      and-thank to cyclinder on demand technology-highly effiecient. When
      required, four of the eight cylinders are deactivated , with no
      preceptible differece except the reduction in fuel consumption
    </p>
    <div id="performance-info-into-number">
      <div class="info-num">
        4.0
        <sup>v8 TFSI<hr/></sup>
      </div>
      <div class="info-num">
        605
        <sup>hp</sup>
      </div>
      <div class="info-num">
        305
        <sup>km/h<hr/></sup>
      </div>
    </div>
  </div>
</section>
<!-- Footer design -->

<section id="footer">
    <div id="overlay-top"></div>
    <div id="overlay-bottom"></div>
    <h1 id="performance-info-2-heading">
      <span>r</span>aises a heart's beat
    </h1>
    <p id="performance-info-2-des">
      The RS6 Avant performance: built for drivers who want more.More
      performace.More dynamic More adrenaline.More exclusivity. Special design
      detail and features underscrore the unique character of the new RS
      performace models.
    </p>

    <button id="request-info">
      Request info <i class="ri-triangle-fill"></i>
    </button>

    <div id="footer-area">
      <div id="footer-left">
        <div id="services">
          <h1 class="heading">Service</h1>
          <p class="item">My Audi</p>
          <p class="item">press</p>
          <p class="item">contact</p>
        </div>
        <div id="audi-ag">
          <h1 class="heading">Audi AG</h1>
          <p class="item">Company</p>
          <p class="item">innovations</p>
          <p class="item">history</p>
        </div>
        <div id="experience-audi">
          <h1 class="heading">experience audi</h1>
          <p class="item">Audi Quattro</p>
          <p class="item">RS/R8</p>
        </div>
        <div id="audi-social">
          <h1 class="heading">audi social</h1>
          <p class="item">facebook</p>
          <p class="item">twitter</p>
          <p class="item">pinterest</p>
        </div>
      </div>
      <div id="footer-right">
        <div id="footer-logo">
          <img
            src="https://th.bing.com/th/id/R.d256a2cc29b45027709d0b06571cb02f?rik=Own52tNIfWIftQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2faudi-logo-png-audi-car-logo-png-brand-image-1470.png&ehk=xAYAJ1m3E%2fHGsX6VD2jLgTaNWG2ohf%2bPLrbkiXs80ow%3d&risl=&pid=ImgRaw&r=0"
            alt=""
          />
        </div>
        <p id="copyright">&copy; AUDI AG . All rights reserved</p>
        <p id="footer-text">
          Further information can be found free of change at all sales
          dealerships and from DAT Deutsche Automobile Treuhand GmbH ,
          Hellmth-Hirth-Strasse, 73760 Ostfildern-Scharmhausen, Germany
        </p>
      </div>
    </div>
  </section>  
  