<mat-toolbar style="background-color: #1976D2;">
    <mat-toolbar-row fxLayout="row">
        <span style="color: white;">{{ dialogData.action }} User</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close style="color: white;"><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="userForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>prenom</mat-label>
                    <input matInput formControlName="prenom" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>adresse</mat-label>
                    <input matInput formControlName="adresse" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>contactnumber</mat-label>
                    <input matInput formControlName="contactnumber" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>password</mat-label>
                    <input matInput formControlName="password" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>role</mat-label>
                    <input matInput formControlName="role" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>modeleVoiture</mat-label>
                    <input matInput formControlName="modeleVoiture" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(userForm.valid && userForm.dirty)" style="background-color: #1976D2; color: white;">
        <mat-icon>save</mat-icon> {{ action }}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions>